<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
    <script defer src="../static/script/app.js"></script>
</head>
<body>
    <ul>

    </ul>
    <input placeholder="message" id="message">
    <button onclick="send_message()">Send</button>
    <br><br><br><input placeholder="name" id="name">
    <button id="sendname" onclick="send_name()">Send</button>
</body>
</html>
